/* About Me section */
.aboutme_text {
  color: #2f4f4f;
  font: smaller;
  line-height: 22px !important;
  white-space: pre-line;
}

/* TimelineSection */
.resume_timeline .timeline_content .timeline_title {
  font-size: 16px;
  font-weight: 500;
}

.resume_timeline .timeline_content .timeline_date {
  color: darkslategray;
}

.resume_timeline .timeline_content .timeline_description {
  color: gray;
  font-size: small;
  margin-top: 6px;
}

/* End Timelinesection */

/* Start of Services Section */
.service {
  height: 100%;
  text-align: center !important;
  /* border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f5f5f5; */
  padding: 10px;
}

.service .service_title {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
  text-align: center !important;
}

.service .service_description {
  color: #989898 !important;
  border-color: var(--main-color) !important;
  margin-right: 5px !important;
  text-align: center !important;
}

.service_icon>.MuiSvgIcon-root {
  font-size: 46px !important;
  margin-left: 0 !important;
  font-weight: 300 !important;
  color: darkslategray !important;
}


/* End of Services Section */